/*grid*/
*, *::after, *::before {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

[class^='col-']{
	float:left;
	padding: 0;
	text-align: center;
}

.col-5of10{
	width:50%;
}


.col-4of10{
	width:40%;
}
.col-6of10{
	width:60%;
}




@media (max-width: 50em){
	.col-5of10{
		width:100%;
	}
	.col-4of10{
	width:100%;
}
.col-6of10{
	width:100%;
}

}



.col-2of10{
	width: 20%;
}
@media (max-width: 30em){
	.col-2of10{
		width: 100%;
	}

	
}
.grid:after{
	content:"";
	display: block;
	clear: both;
}