/*main*/
body {
  font-family: 'Lato', sans-serif;
  padding: 2rem;

}nav a, nav a:visited {

	display: inline-block;
	color: #000000;
	padding: 1em;
	font-size: 1em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
	width: 100%;
}
header{
	margin-top: -30px;

}

a {
	font-family: 'Lato', sans-serif;
	text-decoration:none;
	color: #000 ;
}

a:hover{
	font-weight:bold;
}



nav a:hover, nav a:active, nav a:focus {
	
	color: #7bc699;
}

nav a.whitespace{
	
	background-color:white;
}

nav ul{
	list-style-type: none;
}

.dd-hidden {
	visibility: none;
	position: absolute;
	opacity: 0;
}

.dd-shown {
	visibility: visible;
	opacity: 1;
}



.cakeingredient img{
 max-width: 60%;
 margin-top: 3em;
 margin-left:-6em; 

  -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}



.cakeingredient-p p{
 max-width: 50%;
 margin-top: 3em;
 margin-left:-4em; 
 line-height: 2;
text-align: left;

}


.down{
	background-color:rgba(123,198,153,0.4);
	width: 400%;
	height: auto;
	margin-left: -200px;

}


.down ul{
	line-height: 1em;
	line-height: 2;
	
	
}
.about-img img{
max-width: 70%;
margin-top:10%;
  -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

.heading{
	height:5px;
}


.hide{
	visibility: hidden;
	opacity: 0;

}



.search img{
	position: absolute;
	right: 6%;
	top: 0;
	height: 2em;
	width: auto;
}
.shopping-cart img{
	position: absolute;
	right: 10%;
	top: 0;
	height: 2em;
	width: auto;
}

.logo img{
	position: absolute;
	top: 0;
	height: auto;
	width: 20%;
}
#rectangle{
	position:relative;
	height:31em;
	margin-top: 1em;
	background-image: url("05.jpg");

}
#rectangle img{
	width: 100%;
	height:auto;
}


.content{
	padding-top: 6%;
	position: relative;
	float: left;

}


.content p{
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 3em;
	line-height: 2;
	text-align: left;
	max-width: 90%;
	background-color: white;
	opacity: 0.8;

}

.content  h2{
	margin-top: 3em;
	padding: 0.3em;
text-align: left;
max-width: 60%;
background-color: white;
	opacity: 0.8;
	 -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);

}


.about-content{
	padding-top: 6%;
	position: relative;
	float: left;

}


.about-content p{
	line-height: 2;
	text-align: left;
	max-width: 95%;
	background-color: white;
	opacity: 0.8;

}

.about-content  h2{
text-align: left;
max-width: 60%;
background-color: white;
	opacity: 0.8;

}




.viewmore{
	margin-bottom:10px;
}
.buynow{
	margin-bottom:20px;
}


@media (max-width: 30em){
#rectangle{
	position:relative;
	height:33em;
	margin: 1em;
}
#rectangle img{
	width: 100%;
	height:auto;
}

.content{
	position: relative;
	float: left;
}


.content p{
	line-height: 2;
	text-align: left;
}

.content  h2{
text-align: left;
max-width: 60%;

}

.content ul{
	
	list-style-type: none;
	float: right;
}

.content li {

text-align: left;
margin-top: 1em;

}
.content a:link{
	text-decoration: none;
	color:#19403c;
}



.viewmore{
	margin-bottom:10px;
}
.buynow{
	margin-bottom:20px;
}
}



@media (max-width: 30em){
	#rectangle{
	position:relative;
	height:33em;
	margin: 1em;
}
#rectangle img{
	width: 100%;
	height:auto;
}

.content{
	position: relative;
	float: left;
}


.content p{
	line-height: 2;
	text-align: left;
}

.content  h2{
text-align: left;
max-width: 60%;

}

.content ul{


	float: right;
}

.content li {

text-align: left;
margin-top: 1em;

}
.content a:link{
	text-decoration: none;
	color:#19403c;
}



.viewmore{
	margin-bottom:10px;
}
.buynow{
	margin-bottom:20px;
}
	nav{
		display: none;
	}



}



.filter {
	height: 10000000000px;
}
.filter ul {
	list-style-type: none;
	line-height: 2;
}

.filter ul li {

	text-align: left;
}
.item{
	position: relative;
}
.item img{
	
	margin-top: 1em;
	padding: 1.5em;
	width: 100%;
	height: auto;
	
}
.like img{
	position: absolute;
	bottom: -4%;
	left: 65%;
	width: 25%;
	height: auto;
	z-index: 3;


	
}
.add img{
	bottom: -4%;
	left: 75%;
	position: absolute;
	width: 25%;
	height: auto;
	z-index: 3;
	
}

.item h3{
	bottom: -2%;
	left: 10%;
	position: absolute;
	z-index: 3;
}





.checkoutbutton{
	float:right;
	display: inline-block;
  	padding: 0.5em 0.5em;
  	color: #FFF;
 	background-color: #333333;
  	text-decoration: none;

}
h6{
	position: relative;
}

#icon{
	float:right;
	width: 20px;
	height: 20px;
	background-color: #333333;
	margin: 2em;
}


#wrapper {
	clear: both;
	min-height:100%;
	position:relative;
}

#footer {
	width:100%;
	height:80px;
	position:absolute;
	padding-bottom: 10px;
	text-align: center;
}

#footer  p{
	font-size: 0.7em;
}

.chef{
	
margin-top: 3em;
}
.chef-img img{
	width: 100%;
	height: auto;
}

.chef p{
margin-left: 2em;
text-align: left;
line-height: 1.5;
max-width:80%;
}
.chef h3{
	  -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}


