/*main*/


body {
  font-family: 'Lato', sans-serif;
  padding: 2rem;
  background-image:url('BG.jpg');

}
header{
	font-family: 'Lato', sans-serif;
	font-size: 0.5rem;
  	padding: 2rem;
	margin-top: -2rem;

}
nav a, nav a:visited {

	display: inline-block;
	color: white;
	padding: 1em;
	font-size: 1.5em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
	width: 100%;
}
nav{
	font-family: 'Lato', sans-serif;
	display: block;
	background-color:#b2dfb0;
	color:#000;
	height:2.3rem;

}


a.logo{

  background-image: url("logo.png");
  background-size: 85px, 85px;
  background-repeat: no-repeat;
  width: 85px;
  height: 85px;
  margin-top:-1.5rem;

}

/*a:hover{
	font-weight:bold;
}



nav a:hover, nav a:active, nav a:focus {
	
	color: #7bc699;
}

nav a.whitespace{
	
	background-color:white;
}

nav ul{
	list-style-type: none;
}

.dd-hidden {
	visibility: none;
	position: absolute;
	opacity: 0;

}

.dd-shown {
	visibility: visible;
	opacity: 1;
}

*/

nav a:hover, nav a:active, nav a:focus {
	background-color: #7bc699;
}
nav .nohover a:hover, nav .nohover a:active, nav .nohover a:focus {
	background-color:transparent;

}

/*
nav a.whitespace{
	
	background-color:white;
}*/


nav ul{
		margin-top:0;
        list-style: none;
        margin-left:0;
        width:10em;
  	
    }
.catagory{
	position:relative;
	max-width:col-2of10;
}
.catagory-button{
	transition:background-color 0.5s ease-out;
}
.catagory-list{
	display:block;
	width:100%;
	margin:0em;
	padding:0em;
	background-color:rgba(178,223,176,0.8);
	text-decoration: none;
	z-index:1000;
	position: absolute;/*只有主菜单菜会有下拉*/
	transition: 
		visibility 0s linear 0.5s,
		opcaity 0.9s ease-out; /*它先作ddbutton的trasition然后才做这个的 */
}

.catagory:hover>.catagory-list { /*one div only */
	visibility: visible;
	opacity: 1;
	/*position abosulote will result in none show*/
	transition-delay: 0s; /*下拉菜单不delay了但是transition的样式变化还是delay的*/
}
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*
nav .catagory a{

	display: block;

}
 nav .catagory ul li {
        display: none;
 
    }
 nav .catagory a:hover ul{
 		margin-left:0;
        float:left;
        display: block;
        position:absolute;
        z-index:1000;
        	
       
    }*/


.cakeingredient img{
 max-width: 60%;
 margin-top: 3em;
 margin-left:-6em; 

  -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}



.cakeingredient-p p{
 max-width: 50%;
 margin-top: 3em;
 margin-left:-4em; 
 line-height: 2;
text-align: left;

}


.down{
	background-color:rgba(123,198,153,0.4);
	width: 400%;
	height: auto;
	margin-left: -200px;

}


.down ul{
	line-height: 1em;
	line-height: 2;
	
	
}
.about-img img{
max-width: 60%;
margin-top:5%;
  -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

.heading{
	height:5px;
}


.hide{
	visibility: hidden;
	opacity: 0;

}



.search img{
	position: absolute;
	right: 6%;
	top: 0;
	height: 2em;
	width: auto;
}
.shopping-cart img{
	position: absolute;
	right: 10%;
	top: 0;
	height: 2em;
	width: auto;
}

.logo img{
	position: absolute;
	top: 0;
	height: auto;
	width: 20%;
}
#rectangle{
	position:relative;
	height:31em;
	margin-top: 1em;
	background-image: url("05.jpg");

}
#rectangle img{
	width: 100%;
	height:auto;
}


.content{
	padding-top: 6%;
	position: relative;
	float: left;

}


.content p{
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 3em;
	line-height: 2;
	text-align: left;
	max-width: 90%;
	background-color: white;
	opacity: 0.8;

}

.content  h2{
	margin-top: 3em;
	padding: 0.3em;
text-align: left;
max-width: 60%;
background-color: white;
	opacity: 0.8;
	 -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);

}


.about-content{
	padding-top: 6%;
	position: relative;
	float: left;

}


.about-content p{
	line-height: 2;
	text-align: left;
	max-width: 95%;
	background-color: white;
	opacity: 0.8;

}

.about-content  h2{
text-align: left;
max-width: 60%;
background-color: white;
	opacity: 0.8;

}




.viewmore{
	margin-bottom:10px;
}
.buynow{
	margin-bottom:20px;
}


@media (max-width: 30em){
#rectangle{
	position:relative;
	height:33em;
	margin: 1em;
}
#rectangle img{
	width: 100%;
	height:auto;
}

.content{
	position: relative;
	float: left;
}


.content p{
	line-height: 2;
	text-align: left;
}

.content  h2{
text-align: left;
max-width: 60%;

}

.content ul{
	
	list-style-type: none;
	float: right;
}

.content li {

text-align: left;
margin-top: 1em;

}
.content a:link{
	text-decoration: none;
	color:#19403c;
}



.viewmore{
	margin-bottom:10px;
}
.buynow{
	margin-bottom:20px;
}
}



@media (max-width: 30em){
	#rectangle{
	position:relative;
	height:33em;
	margin: 1em;
}
#rectangle img{
	width: 100%;
	height:auto;
}

.content{
	position: relative;
	float: left;
}


.content p{
	line-height: 2;
	text-align: left;
}

.content  h2{
text-align: left;
max-width: 60%;

}

.content ul{


	float: right;
}

.content li {

text-align: left;
margin-top: 1em;

}
.content a:link{
	text-decoration: none;
	color:#19403c;
}



.viewmore{
	margin-bottom:10px;
}
.buynow{
	margin-bottom:20px;
}
	nav{
		display: none;
	}



}



.filter {
	margin-top: 10%;
	height: 10000000000px;
}
.filter ul {
	list-style-type: none;
	line-height: 2;
}

.filter ul li {

	text-align: left;
}
.item{
	position: relative;
}
.item img{
	
	margin-top: 1em;
	padding: 1.5em;
	width: 100%;
	height: auto;
	
}
.like img{
	position: absolute;
	bottom: -4%;
	left: 65%;
	width: 25%;
	height: auto;
	z-index: 3;


	
}
.add img{
	bottom: -4%;
	left: 75%;
	position: absolute;
	width: 25%;
	height: auto;
	z-index: 3;
	
}

.item h3{
	bottom: -2%;
	left: 10%;
	position: absolute;
	z-index: 3;
}


.detial img{
	width: 100%;
}








.checkoutbutton{
	float:right;
	display: inline-block;
  	padding: 0.5em 0.5em;
  	color: #FFF;
 	background-color: #333333;
  	text-decoration: none;

}
h6{
	position: relative;
}

#icon{
	float:right;
	width: 20px;
	height: 20px;
	background-color: #333333;
	margin: 2em;
}


#wrapper {
	clear: both;
	min-height:100%;
	position:relative;
}

#footer {
	width:100%;
	height:80px;
	position:absolute;
	padding-bottom: 10px;
	text-align: center;
}

#footer  p{
	font-size: 0.7em;
}

.chef{
	
margin-top: 3em;
}
.chef-img img{
	width: 100%;
	height: auto;
}

.chef p{
margin-left: 2em;
text-align: left;
line-height: 1.5;
max-width:80%;
}
.chef h3{
	  -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}



/*item effect*/

.grids {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grids figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	
	width: 100%;
	height: auto;
	background: none;/*background color*/
	text-align: center;
	cursor: pointer;
}


.grids figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grids figure figcaption::before,
.grids figure figcaption::after {
	pointer-events: none;
}

.grids figure figcaption,
.grids figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grids figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grids figure h2 {
	font-size: 0.8em;
	word-spacing: -0.15em;
	font-weight: 100;
	text-align: bottom;
}

.grids figure h2 span {
	font-weight: 600;
	font-size: 0.8em;
	
}

.grids figure h2,
.grids figure p {
	margin: 0;
}


.grids figure p {
	letter-spacin: 1px;
	font-size: 1em;
}
/*need to change @media*/
.icon-like{
	width:80%;height:auto;margin-top:-30%;margin-right:-20%;

}
.icon-like-click{
	width:80%;height:auto;margin-top:-80%;margin-right:-20%;

}


.icon-add{
	width:80%;height:auto;margin-top:-30%;margin-left:-10%;
}

figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-zoe h2 {
	float: left;
}

figure.effect-zoe div.icon-links a {
	float: right;
	color: #19403c;
	font-size: 0.5em;
}
 
div .icon-links div.icon-like{
	width:100px;
	height:auto;

}




figure.effect-zoe:hover div.icon-links a:hover,
figure.effect-zoe:hover div.icon-links a:focus {
	color: #252d31;
}


figure.effect-zoe p.description {
	position: absolute;
	bottom: 10em;
	max-width: 80%;
	
	color: #fff;
	text-transform: none;
	font-size: 0.6em;
	opacity: 0;
	
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe div.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe div.icon-links a span::before {
	display: inline-block;
	
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



figure.effect-zoe img{
	padding:1em;
	width: 100%;
	height: auto;
}

figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover div.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover div.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;

}

figure.effect-zoe:hover div.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover div.icon-links a:first-child {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}



