
  body {
 font-family: 'Lato', sans-serif;
  padding: 2rem;
  background-image:url('BG.jpg');
  color: #7d7d7d;
}
nav a, nav a:visited {

  display: inline-block;
  color: white;
  padding: 1em;
  font-size: 1.5em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  width: 100%;
}
nav{
  font-family: 'Lato', sans-serif;
  font-size:0.5rem;
  display: block;
  background-color:#b2dfb0;
  color:#000;
  height:2.3rem;
}
nav a:hover, nav a:active, nav a:focus {
  background-color: #7bc699;
}
nav .nohover a:hover, nav .nohover a:active, nav .nohover a:focus {
  background-color:transparent;

}
a:visited{
  color:#7d7d7d;
}

section {
  font-family: 'Lato', sans-serif;
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;

}

section h3 {
  color:#7bc699;

}
section p {
  margin-top: 0;
  color:#7d7d7d;
}
section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

a.button {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #b2dfb0;
  text-decoration: none;
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}
a.button:hover, a.button:focus {
  background-color: #7bc699;
}

a.items{
  font-family: 'Playball', cursive;
  display:inline-block;
  padding-left:1em;
  color:#FFF;
  padding-right:1em;
  background-color:#b2dfb0;
  text-decoration:none;
  font-size:1.5rem;

}
a.items:hover, a.items:focus{

  color:#7bc699;
}

a.logo{
  padding: 100px;
  display: inline-block;
  background-image: url("logo.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  font-family: 'Playball', cursive;
  color:#f37a59;
  text-decoration:none;
}


