
.product-list{
	position: absolute;/*只有主菜单菜会有下拉*/
	transition: 
		visibility 0s linear 0.5s,
		opcaity 0.9s ease-out; /*它先作ddbutton的trasition然后才做这个的 */
}

.hide{
	visibility: hidden;
	opacity: 0;
}

.product:hover>.product-list { /*one div only */
	visibility: visible;
	opacity: 1;
	/*position abosulote will result in none show*/
	transition-delay: 0s; /*下拉菜单不delay了但是transition的样式变化还是delay的*/
}
/* Some default styling for the tutorial */

